<!--退单列表页面-->
<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>退货处理</title>
    <!--静态路径-->
    <!-- <link rel="stylesheet" type="text/css" href="../../static/layuiadmin/layui/css/layui.css" media="all">
     <link rel="stylesheet" type="text/css" href="../../static/layuiadmin/style/admin.css" media="all">
     <script type="text/javascript" src="../../static/layuiadmin/layui/layui.js"></script>-->
    <link rel="stylesheet" type="text/css"th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/layuiadmin/style/admin.css}" media="all">
    <script type="text/javascript" th:src="@{/layuiadmin/layui/layui.js}"></script>
    <style>
        .allView{
            text-align: center;
            font-size: 2em;
            line-height: 160px;
            color: #57a88b;

            border-radius: 5px;
        }
        .distance{
            border: 1px solid #e29f2a;
            margin-top: 20px;
            font-size: 1em;
            text-align: center;
            color: #070000;
        }
        .top{

            margin-top: -5%;
        }
        .text{
            background-color: rgb(255, 255, 251);
        }
        hr{
            width: 80%;
        }
        .p_hr{
            margin-top: 15px;
        }
        .right-text{
            text-align: center;
            margin-left: 20%;
            color: red;
        }

    </style>

</head>
<body>
<div class="layui-fluid">

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-header">退货订单</div>
                <div class="layui-card-body">

                    <div class=" layui-row-md6">
                        <table class="layui-hide" id="demo" lay-filter="demo"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="barDemo">
        <!--    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
        <a class="layui-btn layui-btn-xs" lay-event="edit">查看详情</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除详情</a>
    </script>
</div>
<script>
    layui.use(['element','table','jquery','form'] ,function(){
        var element = layui.element,
            table = layui.table,
            form = layui.form,
            $= layui.$
        ;
        table.render({
            elem: '#demo'
            //,skin: 'line' //表格风格
            ,even: true
            ,page: true //是否显示分页
            ,limits: [2, 7, 10]
            ,limit: 10 //每页默认显示的数量
            ,url:'getReturnAll'
            ,id: 'testReload'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [
                [
                    {type:'checkbox'},
                    {field:'chanNo', width:'10%', title: '退单编号', },
                    {field:'custId', width:'10%', title: '顾客编号', },
                    {field:'orderNo', width:'10%', title: '订单编号', },
                    {field:'delivDate', width:'10%', title: '退单日期', },
                    {field:'chanReason', width:'10%', title: '退款原因', },
                    {field:'content', width:'10%', title: '退款说明', },
                    {field:'status', width:'10%', title: '退款状态',templet: function(d){
                        if (d.status ==0)
                            return '<span style="color: #f3302a;">'+ '申请退款' +'</span>'
                        else if(d.status ==1)
                            return '<span style="color: #12f137;">'+ '退款成功' +'</span>'
                        else if(d.status ==2)
                            return '<span style="color: #f3302a;">'+ '拒绝退款' +'</span>'
                    } },

                    { field: 'right',title: '操作',toolbar: "#barDemo",fixed: 'right'
                    }
                ]
            ]
            , response: {
                statusName: 'code',
                statusCode: '1',
                msgName: 'msg',
                countName: 'total',
                dataName: 'data'
            },  request: {
                pageName: 'currentPage', // 当前页
                limitName: 'pageSize' // 每页面显示多少条
            },
        });

        table.on('tool(demo)', function(obj) {
            var data = obj.data
            console.log(data.chanNo)
            if (obj.event ==='edit'){
                document.location.href= 'returnDetails?chanNo='+data.chanNo
                  /*  $.ajax({
                        type:'post',
                        url:'',
                        data:{chanNo:data.chanNo},
                        dataType:'json',
                        success:function (res) {
                            if (res.code == 1){
                                layer.msg(res.msg,{icon:6},function (){
                                    window.location.reload()
                                })
                            } else{
                                layer.msg(res.msg,{icon:5})
                            }
                        }
                    })*/

            }else if(obj.event==='del'){ //删除
                layer.confirm('确认删除',function(){
                    $.ajax({
                        type:"post",
                        url:'delReturns',
                        data:{chanNo:data.chanNo},
                        // dataType:'json',
                        success:function (res) {
                            if (res.code == 1){
                                layer.msg(res.msg,{icon:6},function (){
                                    window.location.reload()
                                })
                            } else{
                                layer.msg(res.msg,{icon:5})
                            }
                        }
                    })
                })

            }
        })
        //…
        $('.addKind').on('click',function () {
            $('#dome input').val('');
            layer.open({
                title:'添加促销方式',
                type: 1,
                area:['400px','200px'],
                content:$('#dome')
            })
            //监听编辑与添加的表单提交
            form.on('submit(form1)',function (value) {
                var data2 = value.field
                console.log(data2)
                $.ajax({
                    type:"post",
                    url:'addActivity',
                    async:false,
                    data:data2,
                    //   dataType:'json',
                    //  contentType:'application/json',
                    success:function (res) {
                        if (res.code==1 ){
                            layer.msg(res.msg,{
                                icon:6
                            },function () {
                                window.location.reload()
                            })
                        }else {
                            layer.msg(res.msg,{
                                icon:5
                            })
                        }
                    }
                })
                return false;
            })
        })

    });
</script>
</body>
</html>