<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyist.dao.ReturnMapper">
  <resultMap id="BaseResultMap" type="com.nyist.entity.Returns">
    <id column="chan_no" jdbcType="VARCHAR" property="chanNo" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="order_no" jdbcType="CHAR" property="orderNo" />
    <result column="deliv_date" jdbcType="VARCHAR" property="delivDate" />
    <result column="chan_reason" jdbcType="CHAR" property="chanReason" />
    <result column="prod_id" jdbcType="CHAR" property="prodId" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="extend3" jdbcType="VARCHAR" property="extend3" />
  </resultMap>
  <sql id="Base_Column_List">
    chan_no, cust_id, order_no, deliv_date, chan_reason, prod_id, qty, status, flag, 
    content, extend3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from returns
    where chan_no = #{chanNo,jdbcType=VARCHAR}
    and flag=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from returns
    where chan_no = #{chanNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nyist.entity.Returns">
    insert into returns (chan_no, cust_id, order_no,
      deliv_date, chan_reason, prod_id, 
      qty, status, flag, 
      content, extend3)
    values (#{chanNo,jdbcType=VARCHAR}, #{custId,jdbcType=INTEGER}, #{orderNo,jdbcType=CHAR},
      #{delivDate,jdbcType=VARCHAR}, #{chanReason,jdbcType=CHAR}, #{prodId,jdbcType=CHAR},
      #{qty,jdbcType=INTEGER}, #{status,jdbcType=CHAR}, #{flag,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{extend3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nyist.entity.Returns">
    insert into returns
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chanNo != null">
        chan_no,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="delivDate != null">
        deliv_date,
      </if>
      <if test="chanReason != null">
        chan_reason,
      </if>
      <if test="prodId != null">
        prod_id,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="extend3 != null">
        extend3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chanNo != null">
        #{chanNo,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=CHAR},
      </if>
      <if test="delivDate != null">
        #{delivDate,jdbcType=VARCHAR},
      </if>
      <if test="chanReason != null">
        #{chanReason,jdbcType=CHAR},
      </if>
      <if test="prodId != null">
        #{prodId,jdbcType=CHAR},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        #{extend3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nyist.entity.Returns">
    update returns
    <set>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=CHAR},
      </if>
      <if test="delivDate != null">
        deliv_date = #{delivDate,jdbcType=VARCHAR},
      </if>
      <if test="chanReason != null">
        chan_reason = #{chanReason,jdbcType=CHAR},
      </if>
      <if test="prodId != null">
        prod_id = #{prodId,jdbcType=CHAR},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
    </set>
    where chan_no = #{chanNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nyist.entity.Returns">
    update returns
    set cust_id = #{custId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=CHAR},
      deliv_date = #{delivDate,jdbcType=VARCHAR},
      chan_reason = #{chanReason,jdbcType=CHAR},
      prod_id = #{prodId,jdbcType=CHAR},
      qty = #{qty,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      flag = #{flag,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      extend3 = #{extend3,jdbcType=VARCHAR}
    where chan_no = #{chanNo,jdbcType=VARCHAR}
  </update>


  <select id="selectByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from returns
    where order_no = #{orderNo,jdbcType=CHAR}
  </select>


  <select id="selectByCustId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from returns
    where cust_id = #{custId,jdbcType=INTEGER}
  </select>

  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from returns
    where flag=1
  </select>
</mapper>