<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>主页</title>
    <script th:src="@{/assets/js/jquery.min.js}"></script>
</head>
<body>
<h3>欢迎来到主页</h3>
<div  th:each="address: ${addressList}">
    <li class="user-addresslist">
        <div class="address-left">
            <div class="user DefaultAddr">

										<span class="buy-address-detail">
                   <span class="buy-user" th:text="${address.getConsignee()}">艾迪 </span>
										<span class="buy-phone" th:text="${address.getPhone()}" >15871145629</span>
										</span>
            </div>
            <div class="default-address DefaultAddr">
                <span class="buy-line-title buy-line-title-type">收货地址：</span>
                <span class="buy--address-detail">
								   <span class="province" th:text="${address.getProvince()}">湖北</span>省
										<span class="city" th:text="${address.getCity()}">武汉</span>市
										<span class="dist" th:text="${address.getDistrict()}">武昌</span>区
										<span class="street" th:text="${address.getAddress()}">东湖路75号众环大厦2栋9层902</span>
										</span>

                </span>
            </div>

        </div>
        <div class="address-right">
            <span class="am-icon-angle-right am-icon-lg"></span>
        </div>
        <div class="clear"></div>

        <div class="new-addr-btn">
            <span class="new-addr-bar">|</span>
            <a href="#">编辑</a>
            <span class="new-addr-bar">|</span>
            <a href="javascript:void(0);" onclick="delClick(this);">删除</a>
        </div>

    </li>
</div>
<div th:each="product: ${productList}">
    <tr id="J_BundleList_s_1911116345_1" class="item-list" >
        <div id="J_Bundle_s_1911116345_1_0" class="bundle  bundle-last">
            <div class="bundle-main">
                <ul class="item-content clearfix">
                    <div class="pay-phone">
                        <li class="td td-item">
                            <div class="item-pic">
                                <a href="#" class="J_MakePoint">
                                    <img th:src="${product.getImage()}"
                                         class="itempic J_ItemImg"></a>
                            </div>
                            <div class="item-info">
                                <div class="item-basic-info">
                                    <a href="#" target="_blank" title="美康粉黛醉美唇膏 持久保湿滋润防水不掉色"
                                       class="item-title J_MakePoint" data-point="tbcart.8.11">美康粉黛醉美唇膏
                                        持久保湿滋润防水不掉色</a>
                                </div>
                            </div>
                        </li>
                        <li class="td td-info">
                            <div class="item-props">
                                <span class="sku-line">颜色：10#蜜橘色+17#樱花粉</span>
                                <span class="sku-line">包装：两支手袋装（送彩带）</span>
                            </div>
                        </li>
                        <li class="td td-price">
                            <div class="item-price price-promo-promo">
                                <div class="price-content">
                                    <em class="J_Price price-now" th:text=${product.getUnitPrice()}">39.00</em>
                                </div>
                            </div>
                        </li>
                    </div>

                    <li class="td td-amount">
                        <div class="amount-wrapper ">
                            <div class="item-amount ">
                                <span class="phone-title">购买数量</span>
                                <div class="sl">
                                    <input class="min am-btn" name="" type="button" value="-"/>
                                    <input class="text_box" name="" type="text" th:value="${product.getStorage()}"
                                           style="width:30px;"/>
                                    <input class="add am-btn" name="" type="button" value="+"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="td td-sum">
                        <div class="td-inner">
                            <em tabindex="0" class="J_ItemSum number">117.00</em>
                        </div>
                    </li>
                    <li class="td td-oplist">
                        <div class="td-inner">
                            <span class="phone-title">配送方式</span>
                            <div class="pay-logis">
                                包邮
                            </div>
                        </div>
                    </li>

                </ul>
                <div class="clear"></div>

            </div>
        </div>
    </tr>
</div>

</body>


</html>